// app global css in SCSS form
@font-face {
  font-family: Flx;
  src: url(./fonts/Flexo-It.woff);
}

body {
  font-family: Flx;
  color: $primary;
}

.bg-login {
  background-image: $bg-img;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inp-login {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
}

.lbl-login {
  color: #fff;
  text-shadow: #fff 0px 0px 5px;
}

.card-login {
  box-shadow: $primary 0px 0px 2px;
}
