// app global css in SCSS form
@font-face {
  font-family: Flx;
  src: url(./fonts/Flexo-It.woff);
}

body {
  font-family: Flx;
  color: $primary;
}

.bg-login {
  background-image: $bg-img;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inp-login {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
}

.lbl-login {
  color: #fff;
  text-shadow: #fff 0px 0px 5px;
}

.card-login {
  box-shadow: $primary 0px 0px 2px;
}

.card-dashboard {
  max-width: 350px;
  width: 100%;
  margin-bottom: 15px;
}
.q-separator--dark {
  background: $secondary;
}
.q-separator {
  background: $secondary;
}

.message-container {
  overflow-y: auto;
}

.message-item {
  padding: 8px;
  margin-bottom: 8px;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos específicos para los tipos de mensajes */
.text-primary {
  color: var(--q-primary);
}

.text-info {
  color: var(--q-info);
}

.text-warning {
  color: var(--q-warning);
}

.text-positive {
  color: var(--q-positive);
}

.text-negative {
  color: var(--q-negative);
}
.credential-row {
  margin-bottom: 8px;
}
.copy-icon {
  cursor: pointer !important;
  padding: 4px;
  border-radius: 4px;
}
.copy-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 480px) {
  // Styles for screens with a maximum width of 480px
  .card-dashboard {
    max-width: 100%;
  }
}
